<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css"/>
    <!-- Import Vue.js -->
    <script src="assets/js/vue.global.js"></script>
</head>
<body>
<div id="app">
    <h1>{{product}}</h1>

    <p v-if="inventory > 10">In stock</p>
    <p v-else>Out of stock</p>

    <p>{{description}}</p>
    <a :href="url" :title="product">
        <img v-bind:src="image" :alt="product">
    </a>

    <ul v-for="detail in details">
        <li>{{detail}}</li>
    </ul>
    <ul v-for="variant in variants">
        <li>{{variant.color}}</li>
    </ul>
</div>

<!-- Import App -->
<script src="./main.js"></script>
</body>
</html>
